{% extends 'base.html.twig' %}
{% block title %}
    détail
{% endblock %}

{% block body %}
    <h1>Détail de {{ users.nom }} {{ users.prenom }}</h1>

    <p>Nom : {{ userDetail.nom }}</p>
    <p>Prénon : {{ users.prenom }}</p>
    <p>Email : {{ users.email }}</p>
    <p>Téléphone : {{ users.telephone }}</p>
{% endblock %}